:root {
  --bg: black;
  --color: #d0d0d0;
  --accent: #ecce27;

  --border: #ecce2746;
  --hover: #4e565f34;
}

html,
body {
  background-color: var(--bg);
  color: var(--color);
  padding: 0;
  margin: 0;
  font-family: 'Helvetica', sans-serif;
}