:root {
  --bg: black;
  --color: #d0d0d0;
  --accent: #03a062;

  --border: #03a06246;
  --hover: #4e565f34;
}

html,
body {
  background-color: var(--bg);
  color: var(--color);
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

hr {
  border: 1px solid var(--border);
}