.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;

  margin-top: 20px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto;
  }
}

.gridItem {
  border-radius: 5px;
  padding: 20px;
  color: var(--accent);
  cursor: pointer;
  font-weight: bold;
  min-width: 240px;
  border: 1px solid transparent;

  font-family:'Courier New', Courier, monospace;
}

.gridItem:hover {
  border: 1px solid var(--border);
  box-shadow: 0 0 10px 10px var(--hover);
  text-decoration: underline;
}

.prog {
  padding: 20px;
  user-select: none;
}

.copy {
  margin: 0 40px;
  background-color: transparent;
  color: var(--accent);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family:'Courier New', Courier, monospace;
  padding: 4px 20px;
}

.copy:hover {
  background-color: var(--hover);
}

.pre {
  width: fit-content;
  border-radius: 8px;
  padding: 20px;
  background-color: var(--hover);
}

.instr {
  background-color: var(--border);
  color: var(--accent);
  padding: 2px;
  border-radius: 4px;
  font-size: 0.6rem;
}